<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - List of commonly used libraries for Data Science
 - Table of 3 Data Science tools
 - Examples of arithmetic expressions using python

## Author
Ravneet Kaur Rao

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Scala
1. Java
1. C++
1. Julia
1. JavaScript
1. PHP
1. Ruby

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Numpy
1. Matplotlib
1. Seaborn
1. Scikit-learn
1. Keras
1. Apache Spark
1. PyTorch
1. Matlab
1. Tensorflow

| Data Science Tools |
| --- |
| MySql |
| MongoDB |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [14]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60

float(200/60)

3.3333333333333335